:root{
    --color1: rgb(0, 195, 255);
    --color2: rgba(255, 255, 255, 1);
}

body{
    font-family: Arial;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.mainpage{
    background: url(images/background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a{
    color: white;
    display: contents;
}

a:hover{
    text-decoration: none;
}

.tab{
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3vh auto;
    background: rgba(255, 255, 255, 1);
    font-size: 4vh;
    border-radius: 5vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.1s;
}

.tab:hover{
    padding: 1% 1%;
}

.tab .text{
    text-shadow: 0 0 1vh black;
    padding: 5vh 5vh;
    color: white;
}

.one{
    margin-top: 10vh;
    background: url(images/home/one.png);
}

.two{
    background: url(images/home/two.png);
}

.three{
    background: url(images/home/three.png);
}

.four{
    background: url(images/home/four.png);
}

.five{
    background: url(images/home/five.png);
}

.six{
    background: url(images/home/six.png);
}

.seven{
    background: url(images/home/seven.png);
}

.one, .two, .three, .four, .five, .six, .seven{
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background: var(--color2);
    width: 100%;
    font-size: 2vh;
    top: 0;
}

.headertext{
    background: linear-gradient(135deg, var(--color1) 0%, var(--color1) 50%, var(--color2) 50%, var(--color2) 100%);
    background-size: 300% 300%;
    background-position: 100% 100%;
    transition: 0.5s;
    color: black;
}

.headertext:hover{
    background-position: 0% 0%;
    color: white;
}

footer{
    padding: 1% 1%;
    font-size: 6vh;
    background: white;
    color: black;
    width: 100%;
}

a:has(footer:hover){
    cursor: url(images/cursor.png), default;
}