:root{
    --color1: rgb(0, 195, 255);
    --color2: rgba(255, 255, 255, 1);
}

body{
    font-family: Arial;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    display: contents;
}

a:hover{
    text-decoration: none;
}

.maintext{
    display: grid;
    margin: 10vh 0;
    grid-template-columns: 50% 50%;
    background: rgba(255, 255, 255, 0.75);
    font-size: 3vh;
    text-shadow: 0 0 1vh white;
    color: black;
}

.text{
    padding: 2% 2%;
}

.img{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    transition: 1s;
}

.img .cell{
    transition: 1s;
}

.img a:hover{
    cursor: all-scroll;
}

/* PAGE PACKGROUNDS */

.onepage{
    background: url(../images/home/one.png);
    background-size: 200% 200%;
    background-position: center center;
}

.twopage{
    background: url(../images/home/two.png);
    background-size: 200% 200%;
    background-position: center center;
}

.threepage{
    background: url(../images/home/three.png);
    background-size: 200% 200%;
    background-position: center center;
}

.fourpage{
    background: url(../images/home/four.png);
    background-size: 200% 200%;
    background-position: center center;
}

.fivepage{
    background: url(../images/home/five.png);
    background-size: 200% 200%;
    background-position: center center;
}

.sixpage{
    background: url(../images/home/six.png);
    background-size: 200% 200%;
    background-position: center center;
}

.sevenpage{
    background: url(../images/home/seven.png);
    background-size: 200% 200%;
    background-position: center center;
}

/* PAGE STUFF AND HOVERING IMAGE */

.onepage .img{
    background: url(../images/home/one.png);
    background-position: center;
    background-size: 100% 100%;
}

.twopage .img{
    background: url(../images/home/two.png);
    background-position: center;
    background-size: 100% 100%;
}

.threepage .img{
    background: url(../images/home/three.png);
    background-position: center;
    background-size: 100% 100%;
}

.fourpage .img{
    background: url(../images/home/four.png);
    background-position: center;
    background-size: 100% 100%;
}

.fivepage .img{
    background: url(../images/home/five.png);
    background-position: center;
    background-size: 100% 100%;
}

.sixpage .img{
    background: url(../images/home/six.png);
    background-position: center;
    background-size: 100% 100%;
}

.sevenpage .img{
    background: url(../images/home/seven.png);
    background-position: center;
    background-size: 100% 100%;
}

.img:has(.cell:nth-child(1):hover){
    background-position: left top;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(2):hover){
    background-position: center top;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(3):hover){
    background-position: right top;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(4):hover){
    background-position: left center;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(5):hover){
    background-position: center center;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(6):hover){
    background-position: right center;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(7):hover){
    background-position: left bottom;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(8):hover){
    background-position: center bottom;
    background-size: 200% 200%;
}

.img:has(.cell:nth-child(9):hover){
    background-position: right bottom;
    background-size: 200% 200%;
}

/* HEADER AND FOOTER */

header{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background: var(--color2);
    width: 100%;
    font-size: 2vh;
    top: 0;
}

.headertext{
    background: linear-gradient(135deg, var(--color1) 0%, var(--color1) 50%, var(--color2) 50%, var(--color2) 100%);
    background-size: 300% 300%;
    background-position: 100% 100%;
    transition: 0.5s;
    color: black;
}

.headertext:hover{
    background-position: 0% 0%;
    color: white;
}

footer{
    padding: 1% 1%;
    font-size: 6vh;
    background: white;
    color: black;
    width: 100%;
}

a:has(footer:hover){
    cursor: url(../images/cursor.png), default;
}